@require './prism-theme-minipress.styl'

.navbar
  border-bottom 1px solid lighten(#cccccc, 50%)

@require './custom-blocks.styl'

$linkColorStart = #4B9DF7
$linkColorEnd = #9C4FAF

{$contentClass}:not(.custom)
  a
    background: -webkit-gradient(linear,left top,right top, from($linkColorStart), to($linkColorEnd));
    background: 'linear-gradient(90deg, %s, %s)' % ($linkColorStart $linkColorEnd);
    -webkit-background-clip text
    -webkit-text-fill-color transparent
    -webkit-box-decoration-break clone
    box-decoration-break clone
    font-weight 600
    border-bottom 1px solid #4B9DF7 !important
    padding-bottom .15rem
    text-decoration none
    &:hover
      background: -webkit-gradient(linear,left top,right top, from($linkColorStart), to($linkColorEnd));
      background: 'linear-gradient(90deg, %s, %s)' % (darken($linkColorStart, 35%) darken($linkColorEnd, 35%));
      -webkit-background-clip text
      -webkit-text-fill-color transparent
      -webkit-box-decoration-break clone
      box-decoration-break clone
