.kpop-theme-dark[aria-hidden='true'] {
  opacity: 0;
  transition: opacity 0.25s, visibility 0.25s;
  visibility: hidden; }

.kpop-theme-dark[aria-hidden='false'] {
  opacity: 1;
  transition: opacity 0.25s;
  visibility: visible; }

.kpop-theme-dark.kpop-body {
  background-color: #1d2935;
  border: 1px solid #1d2935;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 15px;
  color: #fff; }
  .kpop-theme-dark.kpop-body.kpop-no-arrow {
    margin: 0 !important; }
    .kpop-theme-dark.kpop-body.kpop-no-arrow .kpop-arrow {
      display: none; }
  .kpop-theme-dark.kpop-body[x-out-of-boundaries] {
    display: none; }
  .kpop-theme-dark.kpop-body[x-placement^='bottom'] {
    margin-top: 15px; }
    .kpop-theme-dark.kpop-body[x-placement^='bottom'] .kpop-arrow {
      border-bottom-color: #141c25;
      border-width: 0 7.5px 15px;
      margin: 0 7.5px;
      top: -15px; }
      .kpop-theme-dark.kpop-body[x-placement^='bottom'] .kpop-arrow::after {
        border-bottom-color: #1d2935;
        border-width: 0 7.5px 15px;
        margin: 0 -7.5px;
        top: 1px; }
  .kpop-theme-dark.kpop-body[x-placement^='top'] {
    margin-bottom: 15px; }
    .kpop-theme-dark.kpop-body[x-placement^='top'] .kpop-arrow {
      border-top-color: #1d2935;
      border-width: 15px 7.5px 0 7.5px;
      bottom: -15px;
      margin: 0 7.5px; }
      .kpop-theme-dark.kpop-body[x-placement^='top'] .kpop-arrow::after {
        border-top-color: #1d2935;
        border-width: 15px 7.5px 0 7.5px;
        bottom: 1px;
        margin: 0 -7.5px; }
  .kpop-theme-dark.kpop-body[x-placement^='left'] {
    margin-right: 15px; }
    .kpop-theme-dark.kpop-body[x-placement^='left'] .kpop-arrow {
      border-left-color: #141c25;
      border-width: 7.5px 0 7.5px 15px;
      margin: 7.5px 0;
      right: -15px; }
      .kpop-theme-dark.kpop-body[x-placement^='left'] .kpop-arrow::after {
        border-left-color: #1d2935;
        border-width: 7.5px 0 7.5px 15px;
        margin: -7.5px 0;
        right: 1px; }
  .kpop-theme-dark.kpop-body[x-placement^='right'] {
    margin-left: 15px; }
    .kpop-theme-dark.kpop-body[x-placement^='right'] .kpop-arrow {
      border-right-color: #141c25;
      border-width: 7.5px 15px 7.5px 0;
      left: -15px;
      margin: 7.5px 0; }
      .kpop-theme-dark.kpop-body[x-placement^='right'] .kpop-arrow::after {
        border-right-color: #1d2935;
        border-width: 7.5px 15px 7.5px 0;
        left: 1px;
        margin: -7.5px 0; }
  .kpop-theme-dark.kpop-body .kpop-arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0; }
    .kpop-theme-dark.kpop-body .kpop-arrow::after {
      border-color: transparent;
      border-style: solid;
      content: '';
      position: absolute; }

.kpop-theme-clean[aria-hidden='true'] {
  opacity: 0;
  transition: opacity 0.25s, visibility 0.25s;
  visibility: hidden; }

.kpop-theme-clean[aria-hidden='false'] {
  opacity: 1;
  transition: opacity 0.25s;
  visibility: visible; }

.kpop-theme-clean.kpop-body {
  background-color: #fff;
  border: 1px solid #f1f3f8;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 15px; }
  .kpop-theme-clean.kpop-body.kpop-no-arrow {
    margin: 0 !important; }
    .kpop-theme-clean.kpop-body.kpop-no-arrow .kpop-arrow {
      display: none; }
  .kpop-theme-clean.kpop-body[x-out-of-boundaries] {
    display: none; }
  .kpop-theme-clean.kpop-body[x-placement^='bottom'] {
    margin-top: 15px; }
    .kpop-theme-clean.kpop-body[x-placement^='bottom'] .kpop-arrow {
      border-bottom-color: #e0e4f0;
      border-width: 0 7.5px 15px;
      margin: 0 7.5px;
      top: -15px; }
      .kpop-theme-clean.kpop-body[x-placement^='bottom'] .kpop-arrow::after {
        border-bottom-color: #fff;
        border-width: 0 7.5px 15px;
        margin: 0 -7.5px;
        top: 1px; }
  .kpop-theme-clean.kpop-body[x-placement^='top'] {
    margin-bottom: 15px; }
    .kpop-theme-clean.kpop-body[x-placement^='top'] .kpop-arrow {
      border-top-color: #fff;
      border-width: 15px 7.5px 0 7.5px;
      bottom: -15px;
      margin: 0 7.5px; }
      .kpop-theme-clean.kpop-body[x-placement^='top'] .kpop-arrow::after {
        border-top-color: #fff;
        border-width: 15px 7.5px 0 7.5px;
        bottom: 1px;
        margin: 0 -7.5px; }
  .kpop-theme-clean.kpop-body[x-placement^='left'] {
    margin-right: 15px; }
    .kpop-theme-clean.kpop-body[x-placement^='left'] .kpop-arrow {
      border-left-color: #e0e4f0;
      border-width: 7.5px 0 7.5px 15px;
      margin: 7.5px 0;
      right: -15px; }
      .kpop-theme-clean.kpop-body[x-placement^='left'] .kpop-arrow::after {
        border-left-color: #fff;
        border-width: 7.5px 0 7.5px 15px;
        margin: -7.5px 0;
        right: 1px; }
  .kpop-theme-clean.kpop-body[x-placement^='right'] {
    margin-left: 15px; }
    .kpop-theme-clean.kpop-body[x-placement^='right'] .kpop-arrow {
      border-right-color: #e0e4f0;
      border-width: 7.5px 15px 7.5px 0;
      left: -15px;
      margin: 7.5px 0; }
      .kpop-theme-clean.kpop-body[x-placement^='right'] .kpop-arrow::after {
        border-right-color: #fff;
        border-width: 7.5px 15px 7.5px 0;
        left: 1px;
        margin: -7.5px 0; }
  .kpop-theme-clean.kpop-body .kpop-arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0; }
    .kpop-theme-clean.kpop-body .kpop-arrow::after {
      border-color: transparent;
      border-style: solid;
      content: '';
      position: absolute; }

.kpop-theme-big-arrow[aria-hidden='true'] {
  opacity: 0;
  transition: opacity 0.25s, visibility 0.25s;
  visibility: hidden; }

.kpop-theme-big-arrow[aria-hidden='false'] {
  opacity: 1;
  transition: opacity 0.25s;
  visibility: visible; }

.kpop-theme-big-arrow.kpop-body {
  background-color: #fff;
  border: 1px solid #f1f3f8;
  border-radius: 8px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 15px; }
  .kpop-theme-big-arrow.kpop-body.kpop-no-arrow {
    margin: 0 !important; }
    .kpop-theme-big-arrow.kpop-body.kpop-no-arrow .kpop-arrow {
      display: none; }
  .kpop-theme-big-arrow.kpop-body[x-out-of-boundaries] {
    display: none; }
  .kpop-theme-big-arrow.kpop-body[x-placement^='bottom'] {
    margin-top: 25px; }
    .kpop-theme-big-arrow.kpop-body[x-placement^='bottom'] .kpop-arrow {
      border-bottom-color: #e0e4f0;
      border-width: 0 12.5px 25px;
      margin: 0 12.5px;
      top: -25px; }
      .kpop-theme-big-arrow.kpop-body[x-placement^='bottom'] .kpop-arrow::after {
        border-bottom-color: #fff;
        border-width: 0 12.5px 25px;
        margin: 0 -12.5px;
        top: 1px; }
  .kpop-theme-big-arrow.kpop-body[x-placement^='top'] {
    margin-bottom: 25px; }
    .kpop-theme-big-arrow.kpop-body[x-placement^='top'] .kpop-arrow {
      border-top-color: #fff;
      border-width: 25px 12.5px 0 12.5px;
      bottom: -25px;
      margin: 0 12.5px; }
      .kpop-theme-big-arrow.kpop-body[x-placement^='top'] .kpop-arrow::after {
        border-top-color: #fff;
        border-width: 25px 12.5px 0 12.5px;
        bottom: 1px;
        margin: 0 -12.5px; }
  .kpop-theme-big-arrow.kpop-body[x-placement^='left'] {
    margin-right: 25px; }
    .kpop-theme-big-arrow.kpop-body[x-placement^='left'] .kpop-arrow {
      border-left-color: #e0e4f0;
      border-width: 12.5px 0 12.5px 25px;
      margin: 12.5px 0;
      right: -25px; }
      .kpop-theme-big-arrow.kpop-body[x-placement^='left'] .kpop-arrow::after {
        border-left-color: #fff;
        border-width: 12.5px 0 12.5px 25px;
        margin: -12.5px 0;
        right: 1px; }
  .kpop-theme-big-arrow.kpop-body[x-placement^='right'] {
    margin-left: 25px; }
    .kpop-theme-big-arrow.kpop-body[x-placement^='right'] .kpop-arrow {
      border-right-color: #e0e4f0;
      border-width: 12.5px 25px 12.5px 0;
      left: -25px;
      margin: 12.5px 0; }
      .kpop-theme-big-arrow.kpop-body[x-placement^='right'] .kpop-arrow::after {
        border-right-color: #fff;
        border-width: 12.5px 25px 12.5px 0;
        left: 1px;
        margin: -12.5px 0; }
  .kpop-theme-big-arrow.kpop-body .kpop-arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0; }
    .kpop-theme-big-arrow.kpop-body .kpop-arrow::after {
      border-color: transparent;
      border-style: solid;
      content: '';
      position: absolute; }

.kpop-theme-v2[aria-hidden='true'] {
  opacity: 0;
  transition: opacity 0.25s, visibility 0.25s;
  visibility: hidden; }

.kpop-theme-v2[aria-hidden='false'] {
  opacity: 1;
  transition: opacity 0.25s;
  visibility: visible; }

.kpop-theme-v2.kpop-body {
  background-color: #fff;
  border: 1px solid #f1f3f8;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 15px; }
  .kpop-theme-v2.kpop-body.kpop-no-arrow {
    margin: 0 !important; }
    .kpop-theme-v2.kpop-body.kpop-no-arrow .kpop-arrow {
      display: none; }
  .kpop-theme-v2.kpop-body[x-out-of-boundaries] {
    display: none; }
  .kpop-theme-v2.kpop-body[x-placement^='bottom'] {
    margin-top: 15px; }
    .kpop-theme-v2.kpop-body[x-placement^='bottom'] .kpop-arrow {
      border-bottom-color: #e0e4f0;
      border-width: 0 7.5px 15px;
      margin: 0 7.5px;
      top: -15px; }
      .kpop-theme-v2.kpop-body[x-placement^='bottom'] .kpop-arrow::after {
        border-bottom-color: #fff;
        border-width: 0 7.5px 15px;
        margin: 0 -7.5px;
        top: 1px; }
  .kpop-theme-v2.kpop-body[x-placement^='top'] {
    margin-bottom: 15px; }
    .kpop-theme-v2.kpop-body[x-placement^='top'] .kpop-arrow {
      border-top-color: #fff;
      border-width: 15px 7.5px 0 7.5px;
      bottom: -15px;
      margin: 0 7.5px; }
      .kpop-theme-v2.kpop-body[x-placement^='top'] .kpop-arrow::after {
        border-top-color: #fff;
        border-width: 15px 7.5px 0 7.5px;
        bottom: 1px;
        margin: 0 -7.5px; }
  .kpop-theme-v2.kpop-body[x-placement^='left'] {
    margin-right: 15px; }
    .kpop-theme-v2.kpop-body[x-placement^='left'] .kpop-arrow {
      border-left-color: #e0e4f0;
      border-width: 7.5px 0 7.5px 15px;
      margin: 7.5px 0;
      right: -15px; }
      .kpop-theme-v2.kpop-body[x-placement^='left'] .kpop-arrow::after {
        border-left-color: #fff;
        border-width: 7.5px 0 7.5px 15px;
        margin: -7.5px 0;
        right: 1px; }
  .kpop-theme-v2.kpop-body[x-placement^='right'] {
    margin-left: 15px; }
    .kpop-theme-v2.kpop-body[x-placement^='right'] .kpop-arrow {
      border-right-color: #e0e4f0;
      border-width: 7.5px 15px 7.5px 0;
      left: -15px;
      margin: 7.5px 0; }
      .kpop-theme-v2.kpop-body[x-placement^='right'] .kpop-arrow::after {
        border-right-color: #fff;
        border-width: 7.5px 15px 7.5px 0;
        left: 1px;
        margin: -7.5px 0; }
  .kpop-theme-v2.kpop-body .kpop-arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0; }
    .kpop-theme-v2.kpop-body .kpop-arrow::after {
      border-color: transparent;
      border-style: solid;
      content: '';
      position: absolute; }

/*# sourceMappingURL=all.css.map */