.vcdk-popover-theme-big-arrow-show-enter,
.vcdk-popover-theme-big-arrow-show-leave-to {
  opacity: 0;
}

.vcdk-popover-theme-big-arrow {
  transition: opacity 0.2s;
}

.vcdk-popover-theme-big-arrow.vcdk-popover-body {
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 15px;
  background-color: #fff;
  z-index: 19;
  position: absolute;
  left: 0;
  top: 0;
}

.vcdk-popover-theme-big-arrow > .vcdk-popover--arrow,
.vcdk-popover-theme-big-arrow > .vcdk-popover--arrow::before {
  position: absolute;
  width: 16px;
  height: 16px;
  z-index: -1;
}

.vcdk-popover-theme-big-arrow > .vcdk-popover--arrow::before {
  content: '';
  transform: rotate(45deg);
  background: white;
  border: none;
  z-index: -1;
}

.vcdk-popover-theme-big-arrow.vcdk-popover-body[data-popper-placement^='top'] .vcdk-popover--arrow {
  bottom: -8px;
}

.vcdk-popover-theme-big-arrow.vcdk-popover-body[data-popper-placement^='bottom'] .vcdk-popover--arrow {
  top: -8px;
}

.vcdk-popover-theme-big-arrow.vcdk-popover-body[data-popper-placement^='left'] .vcdk-popover--arrow {
  right: -8px;
}

.vcdk-popover-theme-big-arrow.vcdk-popover-body[data-popper-placement^='right'] .vcdk-popover--arrow {
  left: -8px;
}
