.vcdk-popover-theme-dark-show-enter,
.vcdk-popover-theme-dark-show-leave-to {
  opacity: 0;
}

.vcdk-popover-theme-dark {
  transition: opacity 0.2s;
}

.vcdk-popover-theme-dark.vcdk-popover-body {
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 15px;
  background-color: #1d2935;
  color: white;
  z-index: 19;
  position: absolute;
  left: 0;
  top: 0;
}

.vcdk-popover-theme-dark > .vcdk-popover--arrow,
.vcdk-popover-theme-dark > .vcdk-popover--arrow::before {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
}

.vcdk-popover-theme-dark > .vcdk-popover--arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #1d2935;
  border: none;
  z-index: -1;
}

.vcdk-popover-theme-dark.vcdk-popover-body[data-popper-placement^='top'] .vcdk-popover--arrow {
  bottom: -5px;
}

.vcdk-popover-theme-dark.vcdk-popover-body[data-popper-placement^='bottom'] .vcdk-popover--arrow {
  top: -5px;
}

.vcdk-popover-theme-dark.vcdk-popover-body[data-popper-placement^='left'] .vcdk-popover--arrow {
  right: -5px;
}

.vcdk-popover-theme-dark.vcdk-popover-body[data-popper-placement^='right'] .vcdk-popover--arrow {
  left: -5px;
}
