.vcdk-popover-theme-v2-show-enter, .vcdk-popover-theme-v2-show-leave-to {
  opacity: 0;
}
.vcdk-popover-theme-v2 {
  transition: opacity .2s;
}
.vcdk-popover-theme-v2.vcdk-popover-body {
  background-color: #fff;
  border: 1px solid #f1f3f8;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding: 15px; }
  .vcdk-popover-theme-v2.vcdk-popover-body.vcdk-popover--no-arrow {
    margin: 0 !important; }
    .vcdk-popover-theme-v2.vcdk-popover-body.vcdk-popover--no-arrow .vcdk-popover--arrow {
      display: none; }
  .vcdk-popover-theme-v2.vcdk-popover-body[x-out-of-boundaries] {
    display: none; }
  .vcdk-popover-theme-v2.vcdk-popover-body[x-placement^='bottom'] {
    margin-top: 15px; }
    .vcdk-popover-theme-v2.vcdk-popover-body[x-placement^='bottom'] .vcdk-popover--arrow {
      border-bottom-color: #e0e4f0;
      border-width: 0 7.5px 15px;
      margin: 0 7.5px;
      top: -15px; }
      .vcdk-popover-theme-v2.vcdk-popover-body[x-placement^='bottom'] .vcdk-popover--arrow::after {
        border-bottom-color: #fff;
        border-width: 0 7.5px 15px;
        margin: 0 -7.5px;
        top: 1px; }
  .vcdk-popover-theme-v2.vcdk-popover-body[x-placement^='top'] {
    margin-bottom: 15px; }
    .vcdk-popover-theme-v2.vcdk-popover-body[x-placement^='top'] .vcdk-popover--arrow {
      border-top-color: #fff;
      border-width: 15px 7.5px 0 7.5px;
      bottom: -15px;
      margin: 0 7.5px; }
      .vcdk-popover-theme-v2.vcdk-popover-body[x-placement^='top'] .vcdk-popover--arrow::after {
        border-top-color: #fff;
        border-width: 15px 7.5px 0 7.5px;
        bottom: 1px;
        margin: 0 -7.5px; }
  .vcdk-popover-theme-v2.vcdk-popover-body[x-placement^='left'] {
    margin-right: 15px; }
    .vcdk-popover-theme-v2.vcdk-popover-body[x-placement^='left'] .vcdk-popover--arrow {
      border-left-color: #e0e4f0;
      border-width: 7.5px 0 7.5px 15px;
      margin: 7.5px 0;
      right: -15px; }
      .vcdk-popover-theme-v2.vcdk-popover-body[x-placement^='left'] .vcdk-popover--arrow::after {
        border-left-color: #fff;
        border-width: 7.5px 0 7.5px 15px;
        margin: -7.5px 0;
        right: 1px; }
  .vcdk-popover-theme-v2.vcdk-popover-body[x-placement^='right'] {
    margin-left: 15px; }
    .vcdk-popover-theme-v2.vcdk-popover-body[x-placement^='right'] .vcdk-popover--arrow {
      border-right-color: #e0e4f0;
      border-width: 7.5px 15px 7.5px 0;
      left: -15px;
      margin: 7.5px 0; }
      .vcdk-popover-theme-v2.vcdk-popover-body[x-placement^='right'] .vcdk-popover--arrow::after {
        border-right-color: #fff;
        border-width: 7.5px 15px 7.5px 0;
        left: 1px;
        margin: -7.5px 0; }
  .vcdk-popover-theme-v2.vcdk-popover-body .vcdk-popover--arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0; }
    .vcdk-popover-theme-v2.vcdk-popover-body .vcdk-popover--arrow::after {
      border-color: transparent;
      border-style: solid;
      content: '';
      position: absolute; }

/*# sourceMappingURL=v2.css.map */